body {
  background-color: purple;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

header {
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

header .container {
  display: flex;
  justify-content: space-between;

}

header .logo img {
  width: 160px;
}

header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

header nav ul a {
  display: block;
  color: white;
  opacity: 0.8;
  text-decoration: none;
  padding: 10px 12px;
  font-size: 13px;
}

header nav ul a:hover {
  opacity: 1;
}

section.home {
  background: url(../2022-11-15-appbeats/images/hero-bg-3.jpg);
  height: 660px;
  padding-top: 200px;
  position: relative;
}

section.home::before {
  content: "";
  position: absolute;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(163, 24, 200, 1) 0%, rgba(0, 61, 255, 1) 100%, rgba(23, 56, 247, 1) 100%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

section.home .container {
  position: relative;
  display: flex;
}

section.home .left {
  width: 50%;
}

section.home .left h1 {
  font-size: 48px;
  font-weight: 500;
  color: white;
  margin-bottom: 20px;
}

section.home .left p {
  color: white;
  line-height: 30px;
  font-size: 18px;
}

section.home .buttons {
  display: flex;
  gap: 20px;

}

section.home .button.white-button {
  text-decoration: none;
  background-color: white;
  color: #7202bb;
  padding: 12px 30px;
  border-radius: 30px;
  font-weight: 700;
  border: 1px solid white;
  transition: all 0.3s ease-in-out;
}

section.home .button.transparent-button {
  text-decoration: none;
  background: none;
  color: white;
  padding: 12px 30px;
  border: 1px solid white;
  border-radius: 30px;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

section.home .button.white-button:hover {
  background: none;
  border: 1px solid white;
  color: white;
  transition: all 0.3s ease-in-out;
}

section.home .button.transparent-button:hover {
  background-color: white;
  border: 1px solid white;
  color: #7202bb;
  transition: all 0.3s ease-in-out;
}