body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

header {
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

header .container {
  display: flex;
  justify-content: space-between;

}

header .logo img {
  width: 160px;
}

header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

header nav ul a {
  display: block;
  color: white;
  opacity: 0.8;
  text-decoration: none;
  padding: 10px 12px;
  font-size: 13px;
}

header nav ul a:hover {
  opacity: 1;
}

section.home {
  background: url(../2022-11-15-appbeats/images/hero-bg-3.jpg);
  height: 480px;
  padding-top: 200px;
  position: relative;
}

section.home::before {
  content: "";
  position: absolute;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(163, 24, 200, 1) 0%, rgba(0, 61, 255, 1) 100%, rgba(23, 56, 247, 1) 100%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

section.home .container {
  position: relative;
  display: flex;
}

section.home .left {
  width: 50%;
}

section.home .right {
  width: 50%;
  position: relative;
}

video {
  transform-style: preserve-3d;
  text-align: center;
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
  background: white;
  border-radius: 10px;

}

.video-wrap {
  vertical-align: baseline;
  position: absolute;
  height: 100%;
  box-sizing: border-box;
  top: -2px;
  font: inherit;
  padding: 18px;
  overflow: hidden;
  left: 4px;
}


section.home .iphone {
  box-sizing: border-box;
  min-height: 1px;
  left: auto;
  flex-wrap: wrap;
  align-items: center;
  z-index: 5;
  justify-items: flex-end;
  position: absolute;
  right: 8%;
  max-width: 350px;
  flex: 0 0 38%;
  top: -50px;
}

section.home .iphone img {
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: all 400ms ease-in 0s;
  object-fit: cover;
}

section.home .iphone-wrap {
  z-index: 10;
  object-fit: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  width: 100%;
  overflow: hidden;
}

section.home .left h1 {
  font-size: 48px;
  font-weight: 500;
  color: white;
  margin-bottom: 20px;
}

section.home .left p {
  color: white;
  line-height: 30px;
  font-size: 18px;
}

section.home .buttons {
  display: flex;
  gap: 20px;
}

section.home .button.white-button {
  text-decoration: none;
  background-color: white;
  color: #7202bb;
  padding: 12px 30px;
  border-radius: 30px;
  font-weight: 700;
  border: 1px solid white;
  transition: all 0.3s ease-in-out;
}

section.home .button.transparent-button {
  text-decoration: none;
  background: none;
  color: white;
  padding: 12px 30px;
  border: 1px solid white;
  border-radius: 30px;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

section.home .button.white-button:hover {
  background: none;
  border: 1px solid white;
  color: white;
  transition: all 0.3s ease-in-out;
}

section.home .button.transparent-button:hover {
  background-color: white;
  border: 1px solid white;
  color: #7202bb;
  transition: all 0.3s ease-in-out;
}

.waves {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
}

.trusted-container {
  height: 70px;
}

.img-list {
  display: flex;
  list-style: none;
  padding-right: 100px;
}

.row {
  display: flex;
  padding: 45px;
  width: 59%;
  flex-direction: row;
  height: 100%;
  padding-left: 400px;
}

.trusted-image {
  width: 30%;
}

.img-list li {
  text-align: end;
  margin-left: -170px;
  padding-left: 5px;
  padding-right: 5px;
}

.trusted-right-container {
  width: 70%;
}

.trusted-text {
  color: gray;
  font-size: 18px;
  font-weight: 400;
}

.promo-new {
  padding-top: 200px;
  padding-bottom: 100px;
  margin: 0 auto;
}

.promo-headers {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.promo-header {
  font-size: 40px;
  font-weight: 500;
}

.promo-text {
  text-align: center;
  color: gray;
  font-size: 22px;
  margin-bottom: 50px;
  line-height: 40px;
  width: 100%;
}

.promo-heading-container {
  width: 49%;
  margin: 0 auto;
  font-weight: 300;
}

.features-container {
  margin: 0 auto;
  width: 60%;
  display: flex;
  gap: 25px;
  justify-content: center;
}

.features-container .feature img {
  width: 30%;
  margin-bottom: 10px;
}

.feature {
  width: 100%;
  text-align: center;
  box-shadow: 0 3px 20px 0 rgb(0 0 0 / 10%);
  border-radius: 5px;
}

.inner-box {
  padding: 45px
}

.inner-box p {
  font-size: 15px;
}

.feature .inner-box p {
  line-height: 30px;
  color: gray;
}

.smart-one {
  background-color: #ffdce5;
  color: #ff164e;
  text-transform: uppercase;
  font-size: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}

.flexible-one {
  background-color: #efdeff;
  color: #9123ff;
  text-transform: uppercase;
  font-size: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}

.smart-two {
  background-color: #e0f5e9;
  color: #2ebf6d;
  text-transform: uppercase;
  font-size: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}

.flexible-two {
  background-color: #ffdce5;
  color: #ff164e;
  text-transform: uppercase;
  font-size: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}

.smart-three {
  background-color: #e1dcfe;
  color: #3413f7;
  text-transform: uppercase;
  font-size: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}

.flexible-three {
  background-color: #ffebe2;
  color: #ffa13f;
  text-transform: uppercase;
  font-size: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}

.color-1 {
  border-top: 4px solid #7202bb;
}

.color-2 {
  border-top: 4px solid #3264f5;
}

.color-3 {
  border-top: 4px solid #ffa13f;
}

.portal-section {
  background-color: #f7f7f7;
  margin: 0 auto;
  padding: 100px 0;
}

.nav-row ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 50px;
  margin: 0;
}

ion-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.nav-row ul li {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #c4c4c4;
  padding-bottom: 10px;
}

.nav-row ul li:hover {
  border-color: rgb(235, 235, 235);
}

.color-first {
  color: red;
}

.color-second {
  color: purple;
}

.color-third {
  color: blue;
}

.color-fourth {
  color: orange;
}

.promo-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 40px;
}

.right-section img {
  max-width: 80%;
}

.right-section {
  width: 35%;
  display: flex;
  justify-content: end;
}

.left-section {
  width: 35%;
  padding-left: 20px;
  padding-right: 20px;
}

.portal-header {
  color: #7202bb;
  font-size: 80px;
  margin-bottom: 15px;
  margin-top: 0;
}

.portal-second-header {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 400;
}

.left-section p {
  color: gray;
  line-height: 30px;
  font-weight: 300;
}