* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background: url(background.png);
  margin: 50px auto;
}

img {
  width: 160px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  position: relative;
}

.planet-container {
  padding: 30px;
  position: relative;
}

/* .earth {
  position: absolute;
  left: 660px;
  top: 135px;
}

.moon {
  position: absolute;
  left: 1087px;
  top: 147px;
}

.mars {
  position: absolute;
  left: 1524px;
  top: 159px;
}

.meteor {
  position: absolute;
  left: 1510px;
  top: 510px;
} */

.blue-planet {
  position: absolute;
  left: 65px;
  top: 30px;
}

.blue-planet-size {
  width: 300px;
}

.jupiter-planet {
  position: absolute;
  left: 65px
}

.jupiter-planet-size {
  width: 300px;
}