* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background: url(background.png);
  margin: 50px auto;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-content: center;
  text-align: center;
  position: relative;
}

.planet-container {
  padding: 20px;
  align-items: center;
  align-content: center;

}

.earth {
  position: absolute;
  left: 660px;
  top: 135px;
}

.moon {
  position: absolute;
  left: 1087px;
  top: 147px;
}

.mars {
  position: absolute;
  left: 1524px;
  top: 159px;
}

.meteor {
  position: absolute;
  left: 1510px;
  top: 510px;
}

.planets-img {
  padding-right: 10px;
  padding-left: 10px;
}